<form (ngSubmit)="save()" #form="ngForm">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <label for="tableNumberInput" class="font-semibold">Número mesa</label>

      <p-inputnumber
        inputId="integeronly"
        [(ngModel)]="table.tableNumber"
        name="tableNumber"
        required
        [ngClass]="tableNumberInput.errors?.['required'] && (tableNumberInput.dirty || tableNumberInput.touched || submitted) ? 'ng-invalid ng-dirty' : ''"
        #tableNumberInput="ngModel"
      />
    </div>

    <div class="flex flex-col gap-1">
      <label for="quadrantInput" class="font-semibold">Cuadrante designado</label>
      <p-select
        [options]="quadrants"
        [(ngModel)]="table.quadrant"
        [style]="{ width: '100%' }"
        optionLabel="description"
        placeholder="Seleccione un cuadrante"
        appendTo="body"
        name="quadrant"
        required
        [ngClass]="quadrantInput.errors?.['required'] && (quadrantInput.dirty || quadrantInput.touched || submitted) ? 'ng-invalid ng-dirty' : ''"
        #quadrantInput="ngModel"
      ></p-select>
    </div>
    <div>
      <p-button
        [loading]="saveInProgress"
        type="submit"
        label="Guardar"
      ></p-button>
    </div>
  </div>
</form>
