<div class="custom-p flex flex-col gap-2">
  <p-toolbar>
    <ng-template #start>
      <p-button
        label="Añadir"
        (onClick)="showDialog()"
        icon="pi pi-plus"
        class="mr-2"
      />
    </ng-template>
  </p-toolbar>
  <p-table
    [value]="electionTypes"
    [loading]="isLoading"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h1 class="m-0 text-2xl font-semibold">Gestionar tipos de elecciones</h1>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="id">ID</th>
        <th id="activo">Activo</th>
        <th id="name">Nombre</th>
        <th id="description">Descripción</th>
        <th id="acciones">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-electionType>
      <tr>
        <td>{{ electionType.id }}</td>
        <td [ngClass]="electionType.enabled ? 'SI' : 'NO'">
          {{ electionType.enabled ? "SI" : "NO" }}
        </td>
        <td>{{ electionType.name }}</td>
        <td>{{ electionType.description }}</td>
        <td>
          <div class="flex flex-wrap gap-2">
            <p-button
              icon="pi pi-pencil"
              (onClick)="showDialogToEdit(electionType)"
              [rounded]="true"
              severity="info"
            />
            <p-button
              (onClick)="delete(electionType.id)"
              icon="pi pi-times"
              [rounded]="true"
              severity="danger"
            />
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="4">No se encontraron registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="Formulario"
  [(visible)]="showFormDialog"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  @if (showFormDialog) { 
    <election-type-form [electionType]="selectedType" (onSave)="getList()"></election-type-form>
  }
</p-dialog>
