<form (ngSubmit)="save()" #form="ngForm">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <label for="description" class="font-semibold">Activar elección</label>

      <p-toggleswitch name="active" [(ngModel)]="electionType.enabled" />
    </div>
    <div class="flex flex-col gap-1">
      <label for="name" class="font-semibold">Nombre</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="electionType.name"
        name="name"
        required
        [ngClass]="nameInput.errors?.['required'] && (nameInput.dirty || nameInput.touched || submitted) ? 'ng-invalid ng-dirty' : ''"
        #nameInput="ngModel"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="description" class="font-semibold">Descripción</label>
      <input
        id="description"
        type="text"
        pInputText
        [(ngModel)]="electionType.description"
        name="description"
        required
        [ngClass]="descriptionInput.errors?.['required'] && (descriptionInput.dirty || descriptionInput.touched || submitted) ? 'ng-invalid ng-dirty' : ''"
        #descriptionInput="ngModel"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="articles" class="font-semibold">Artículos</label>
      <input
        id="articles"
        type="text"
        pInputText
        [(ngModel)]="electionType.articles"
        name="articles"
        required
        [ngClass]="articlesInput.errors?.['required'] && (articlesInput.dirty || articlesInput.touched || submitted) ? 'ng-invalid ng-dirty' : ''"
        #articlesInput="ngModel"
      />
    </div>
    <div>
      <p-button
        [loading]="saveInProgress"
        type="submit"
        label="Guardar"
      ></p-button>
    </div>
  </div>
</form>
